{% extends "base_generic.html" %}

{% block content %}
<style>
  .borrowed-books {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .page-title {
    font-size: 32px;
    color: black;
    font-weight:bold;
    margin-bottom: 20px;
    text-align: center;
  }

  .book-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .book-table th,
  .book-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .book-item.overdue {
    background-color: #ffdcdc;
  }

  .no-books-msg {
    font-size: 18px;
    color: #555;
  }

  .action-link {
    color: #007bff;
    text-decoration: none;
  }

  .action-link:hover {
    text-decoration: underline;
  }
</style>
  <div class="borrowed-books">
    <h1 class="page-title">All Borrowed Books</h1>

    {% if bookinstance_list %}
      <table class="book-table">
        <thead>
          <tr>
            <th>Book</th>
            <th>Due Date</th>
            <th>Borrower</th>
            {% if perms.catalog.can_mark_returned %}
              <th>Action</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for bookinst in bookinstance_list %}
            <tr class="book-item {% if bookinst.is_overdue %}overdue{% endif %}">
              <td><a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a></td>
              <td>{{ bookinst.due_back }}</td>
              {% if user.is_staff %}
                <td>{{ bookinst.borrower }}</td>
              {% endif %}
              {% if perms.catalog.can_mark_returned %}
                <td><a href="{% url 'renew-book-librarian' bookinst.id %}" class="action-link">Renew</a></td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="no-books-msg">There are no books borrowed.</p>
    {% endif %}
  </div>
{% endblock %}