{% extends "base_generic.html" %}

{% block content %}
<style>
  .genre-details {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .page-title {
    font-size: 32px;
    color: black;
    font-weight:bold;
    margin-bottom: 20px;
    text-align:center;

  }

  .section-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
  }

  .book-list {
    list-style: none;
    padding: 0;

  }

  .book-item {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  }

  .no-books-msg {
    font-size: 18px;
    color: #555;
  }

  .book-title {
    font-size: 18px;
<!--    color: #333;-->
    color:blue;
    text-decoration: none;
  }

  .book-title:hover {
    text-decoration: underline;
  }

  .genre-actions {
    margin-top: 20px;
  }

  .divider {
    border: none;
    border-top: 1px solid #ccc;
    margin-top: 20px;
  }

  .action-list {
    list-style: none;
    padding: 0;
  }

  .action-item {
    margin-bottom: 10px;
    text-align:right;
  }

  .action-btn {
    display: inline-block;
    padding: 8px 20px;
    font-size: 16px;
    border: 2px solid #007bff;
    background-color: transparent;
    color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }

  .action-btn:hover {
    background-color: #007bff;
    color: #fff;
  }

  .delete-btn {
    border-color: #dc3545;
    color: #dc3545;
  }

  .delete-btn:hover {
    background-color: #dc3545;
    color: #fff;
  }
</style>
<div class="genre-details">
  <h1 class="page-title">Genre: {{ genre.name }}</h1>

  <div class="books-section">
    <h2 class="section-title">Books in Genre</h2>

    <ul class="book-list">
      {% for book in genre.book_set.all %}
        <li class="book-item">
          <a href="{{ book.get_absolute_url }}" class="book-title">{{ book.title }}</a> ({{ book.author }})
        </li>
      {% empty %}
        <li class="no-books-msg">There are no books in this genre.</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% if perms.catalog.change_genre or perms.catalog.delete_genre %}
    <div class="genre-actions">
      <hr class="divider">
      <ul class="action-list">
        {% if perms.catalog.change_genre %}
          <li class="action-item"><a href="{% url 'genre-update' genre.id %}" class="action-btn">Update Genre</a></li>
        {% endif %}
        {% if perms.catalog.delete_genre %}
          <li class="action-item"><a href="{% url 'genre-delete' genre.id %}" class="action-btn delete-btn">Delete Genre</a></li>
        {% endif %}
      </ul>
    </div>
  {% endif %}
{% endblock %}

